@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewBag.Title = "Login";
}


<body>
	<main class="h-100vh">
		<div class="d-flex align-items-center justify-content-center position-relative h-100">
			<div class="container d-flex justify-content-center">
				<div class="col-sm-10 col-md-8 col-lg-6 position-relative z-index-1">
					<h2 class="display-4 mb-4 pb-5 position-relative text-center" style="color:black">Rede Social FTEC</h2>
					<div class="card card-body mb-5 p-4 p-sm-5 mt-sm-n5 mb-n5">
						<h2 class="h1 mb-2 text-center">Entre na sua Conta!</h2>

						<form class="mt-4" asp-controller="Usuario" asp-action="Login" method="post">

							@Html.ValidationSummary()

							
							<div class="mb-3 position-relative input-group">
								<input type="email" class="form-control" id="login.email" name="Email" placeholder="Digite seu email">
							</div>

							
							<div class="mb-3">
								<div class="input-group input-group">
									<input class="form-control fakepassword" id="login.senha" name="Senha" type="password" id="psw-input" placeholder="Digite sua senha">
								</div>
							</div>

							<div class="d-grid mt-5">
								<div class="b mx-3 mb-1" style="display: flex;justify-content: center; align-items: center; background-color:#9fe3e57a;">
									<button class="btn btn-shadow mr-3" type="submit">Salvar</button>
								</div>
							
							</div>
							

							<p class="mt-3 text-center">Não possui uma conta?<a href="sign-up.html"> @Html.ActionLink("Clique aqui para criar", "UsuarioCadastro", "Usuario") </a></p>

						</form>
					</div>
				</div>
			</div>
		</div>
	</main>

</body>