@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewBag.Title = "UsuarioCadastro";
}

<body>

	<main class="h-100">
		<div class="pt-5 d-flex align-items-center justify-content-center position-relative">
			<div class="container d-flex justify-content-center">
				<div class="col-sm-10 col-md-8 col-lg-6 position-relative z-index-1">
					<h2 class="display-4 mb-4 pb-5 position-relative text-center" style="color:black">Rede Social FTEC</h2>
					<div class="card card-body p-4 p-sm-5 mt-sm-n5 mb-5">
						<h2 class="h1 mb-2 text-center">Crie uma Conta!</h2>

						<form class="mt-4" asp-controller="Usuario" asp-action="UsuarioCadastro" method="post">

							@Html.ValidationSummary()

							<label class="col-form-label">Nome:</label>
							<div class="mb-3 position-relative input-group">
								<input type="text" class="form-control" id="usuariocadastro.nome" name="usuariocadastro.nome" placeholder="Digite seu nome">
							</div>

							<label class="col-form-label">Sobrenome:</label>
							<div class="mb-3 position-relative input-group">
								<input type="text" class="form-control" id="usuariocadastro.sobrenome" name="usuariocadastro.sobrenome" placeholder="Digite seu Sobrenome">
							</div>

							<label class="col-form-label">E-mail:</label>
							<div class="mb-3 position-relative input-group">
								<input type="email" class="form-control" id="usuariocadastro.email" name="usuariocadastro.email" placeholder="Digite seu email">
							</div>

							<div class="mb-3">
								<label class="col-form-label">Senha:</label>
								<div class="input-group input-group">
									<input class="form-control fakepassword" id="usuariocadastro.senha" name="usuariocadastro.senha" type="password" id="psw-input" placeholder="Digite sua senha">
								</div>
							</div>

							<div class="mb-3">
								<label class="col-form-label">Informe seu sexo</label>
								<div class="input-group input-group">
									<input class="form-control fakepassword" id="usuariocadastro.sexo" name="usuariocadastro.sexo" type="password" id="psw-input" placeholder="Digiete sua senha">
								</div>
							</div>
							
							<div class="mb-3">
								<label class="col-form-label">Data Nascimento:</label>
								<div class="left-inner-addon">
									<i class="la la-calendar"></i>
								<input type="date" class="form-control dt-envio" placeholder="Digite sua Data Nascimento" id="usuariocadastro.dataComemorativa" name="usuariocadastro.dataComemorativa">
								</div>
							</div>
							
							<div class="d-grid mt-5" >
								<div class="b mx-3 mb-1" style="display: flex;justify-content: center; align-items: center; background-color:#9fe3e57a;">
									<button type="submit" class="btn btn-lg btn-primary-soft">Cadastrar</button>
								</div>

							</div>

							<p class="mt-3 text-center">Já possui uma conta?<a href="sign-up.html"> @Html.ActionLink("Clique aqui para fazer login", "Login", "Usuario") </a></p>

						</form>
					</div>
				</div>
			</div>
		</div>
	</main>

</body>


